*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,
body {
  background-color: #e9e9ec;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: Lato, sans-serif;
}

.Avsistema-logo-contenedor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.Avsistema-logo {
  height: 50px;
  
}

.contenedor-principal {
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}